/* HEADER */
#story-header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 16px;
  width: 100%;
  z-index: 10;
}
#story-header.contracted > p:last-of-type {
  display: none;
}
#story-header.expanded > p:last-of-type {
  display: block;
}
#story-header > button {
  float: right;
}
#header-space {
  height: 300px;
  display: block;
}
#header-small-space {
  height: 150px;
  display: block;
}

/* UNIFORM LIKERT SCALES */
div.likert > div.container {
  margin-top: 32px;
  margin-bottom: 32px;
}

div.likert >* div.choices >* input {
  margin-right: 8px;
}
div.likert >* div.labels {
  font-size: 0.8em;
  font-weight: normal;
}

/* PERCENT SCALE */
div.percent >* .percentChoice {
  width: 16px;
  display: inline-block;
  margin-right: 48px;
  text-align: center;;
}