<!DOCTYPE html>

<div id="container-exp">
	<div id="trial">
		<p>
			Please answer the following questions about yourself:
		</p>

		<br>
		<br>
		<div class="textboxArea">
			<p>
				How old are you (in years)?  Please use numbers.
			</p>
			<input type="text" name="Q1"><br>
		</div>


		<br>
		<br>
		<div class="radioArea">
			<p>
				What is your gender identity?
			</p>
			<input type="radio" name="Q2" value="male">Male<br>
			<input type="radio" name="Q2" value="female">Female<br>
			<input type="radio" name="Q2" value="nonbinary">Non-Binary<br>
			<input type="radio" name="Q2" value="other">Other<br>
			<input type="radio" name="Q2" value="noanswer">Prefer not to answer<br>
		</div>

		<br>
		<br>
		<div class="checkboxArea">
			<p> What is your race (check all that apply)?  </p>
			<input type="checkbox" name="Q3" value="White/Caucasian">White<br>
			<input type="checkbox" name="Q3" value="Hispanic">Hispanic<br>
			<input type="checkbox" name="Q3" value="Black or African American">Black or African American<br>
			<input type="checkbox" name="Q3" value="American Indian or Alaska Native">American Indian or Alaska Native<br>
			<input type="checkbox" name="Q3" value="Asian">Asian<br>
			<input type="checkbox" name="Q3" value="Native Hawaiian or Pacific Islander">Native Hawaiian or Pacific Islander<br>
			<input type="checkbox" name="Q3" value="Other">Other<br>
			<input type="checkbox" name="Q3" value="Prefer not to answer">Prefer not to answer<br>
		</div>

		<br>
		<br>
		<button id="next">Next</button>
	</div>
</div>
