<!DOCTYPE html>

<div id="container-exp">
	<div id="trial">

    <div id="story-header" class="bg-info container expanded">
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valemin="0" aria-valuemax="100" style="width: 75%;">
          75%
        </div>
      </div>
      <p>The following are answers that you've given to the previous set of questions. The scenario is repeated here for reference.</p>

      <ul id="vignette-tabs" class="nav nav-pills" role="tablist">
        <li role="presentation" class="active"><a href="#scenario" aria-controls="scenario" role="tab" data-toggle="pill">Scenario Text</a></li>
        <li role="presentation"><a href="#robot" aria-controls="robot" role="tab" data-toggle="pill">Robot Picture</a></li>
      </ul>

      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="scenario"><p id="recap"><em></em></p></div>
        <div role="tabpanel" class="tab-pane" id="robot"></div>
      </div>

      <button class="btn btn-link" onclick="toggleHeader()"><span id="header-toggle" class="glyphicon glyphicon-chevron-up"></span></button>
      <button class="pull-left btn btn-success" onclick="fillFollowupAnswers()"><span class="glyphicon glyphicon-flash"></span></button>
    </div>

    <div id="header-space" class="expanded"></div>

    <div id="vignette" class="likert"></div>
		<br>
		<br>
    <div class="row">
      <button type="button" id="next" value="next" class="pull-right btn btn-primary btn-lg continue">Next<span class="glyphicon glyphicon-arrow-right"></span></button>
    </div>
	</div>
</div>