
<!DOCTYPE html>

<div id="container-exp">
	<div id="trial">

    <div id="story-header" class="bg-info container expanded">
      <h3>Scenario 4/4</h3>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valemin="0" aria-valuemax="100" style="width: 75%;">
          75%
        </div>
      </div>
      <p>Please watch the following video in order to answer questions on the next page.</p>
      <button class="pull-left btn btn-success" id="next"><span class="glyphicon glyphicon-flash"></span></button>
    </div>

    <div id="header-space-sm"></div>

    <div class="videoArea" id="vignette4.m4v"></div>

		<br>
    <br>
    <div class="row">
      <button type="button" id="next" value="next" class="pull-right btn btn-primary btn-lg continue" style="visibility: hidden;"">Next<span class="glyphicon glyphicon-arrow-right"></span></button>
    </div>
	</div>
</div>