<!DOCTYPE html>

<div id="container-exp">
	<div id="trial">

    <div id="story-header" class="bg-info container expanded">
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valemin="0" aria-valuemax="100" style="width: 25%;">
          25%
        </div>
      </div>
      <p>You have watched a scenario about a robot. To refresh your memory, you can read the story or view the robot again here...</p>

      <ul id="vignette-tabs" class="nav nav-pills" role="tablist">
        <li role="presentation" class="active"><a href="#scenario" aria-controls="scenario" role="tab" data-toggle="pill">Scenario Text</a></li>
        <li role="presentation"><a href="#robot" aria-controls="robot" role="tab" data-toggle="pill">Robot Picture</a></li>
      </ul>

      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="scenario"><p id="recap"><em></em></p></div>
        <div role="tabpanel" class="tab-pane" id="robot"></div>
      </div>

      <button class="btn btn-link" onclick="toggleHeader()"><span id="header-toggle" class="glyphicon glyphicon-chevron-up"></span></button>
      <button class="pull-left btn btn-success" onclick="fillAnswers()"><span class="glyphicon glyphicon-flash"></span></button>
    </div>

    <div id="header-space" class="expanded"></div>

    <div class="well">
      <p>Think about the robot. For each statement or descriptor, choose the number that best describes how much you agree or disagree with each statement. <span id="na_extra_likert"></span> Some items might feel repetitive. Please answer them anyway.</p>
    </div>

		<div class="likert likertUniform" measure="myerEtAl"></div>
		<div class="likert likertUniform" measure="lyonsGuznov"></div>
    <div class="likert likertUniform" measure="jianEtAl"></div>
    <div class="likert likertUniform" measure="heerinkEtAl"></div>
    <div class="likert likertUniform" measure="cameron"></div>
    <div class="likert likertUniform" measure="malle"></div>
    <div class="likert likertVariable" measure="ghazali"></div>

    <div class="well">
      <p>Please rate the following items about the robot as if you've just participated in the interaction described.<span id="na_extra_percent"></span></p>
    </div>

    <div class="likert percent" measure="schaefer1"></div>
    <div class="likert percent" measure="schaefer2"></div>
		<br>
    <br>
    <div class="row">
      <button type="button" id="next" value="next" class="pull-right btn btn-primary btn-lg continue">Next<span class="glyphicon glyphicon-arrow-right"></span></button>
    </div>
	</div>
</div>