<!DOCTYPE html>

<div id="container-exp">
	<div id="trial">

    <div id="story-header" class="bg-info container expanded">
      <h3>Scenario 3/4 Follow-Up</h3>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="62.5" aria-valemin="0" aria-valuemax="100" style="width: 62.5%;">
          62.5%
        </div>
      </div>
      <p>The following are answers that you've given to the previous set of questions. We would like to ask you a few follow-up questions about these items.</p>
      <button class="pull-left btn btn-success" onclick="fillFollowupAnswers()"><span class="glyphicon glyphicon-flash"></span></button>
    </div>

    <div id="header-small-space"></div>

		<div class="likert likertUniform" measure="myerEtAl"></div>
    <div class="likert likertUniform" measure="jianEtAl"></div>
    <div class="likert likertUniform" measure="heerinkEtAl"></div>
    <div class="likert likertUniform" measure="cameron"></div>
    <div class="likert likertUniform" measure="malle"></div>
    <div class="likert likertVariable" measure="ghazali"></div>
    <div class="likert percent" measure="schaefer1"></div>
    <div class="likert percent" measure="schaefer2"></div>

		<br>
		<br>
    <div class="row">
      <button type="button" id="next" value="next" class="pull-right btn btn-primary btn-lg continue">Next<span class="glyphicon glyphicon-arrow-right"></span></button>
    </div>
	</div>
</div>