<!DOCTYPE html>

<div id="container-exp">
	<div id="trial">

    <div id="story-header" class="bg-info container expanded">
      <h3>Scenario 1/4</h3>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valemin="0" aria-valuemax="100">
          0%
        </div>
      </div>
      <p>You have watched a scenario about a robot. To refresh your memory, you can read the story or view the robot again here...</p>

      <ul id="vignette-tabs" class="nav nav-pills" role="tablist">
        <li role="presentation" class="active"><a href="#scenario" aria-controls="scenario" role="tab" data-toggle="pill">Scenario Text</a></li>
        <li role="presentation"><a href="#robot" aria-controls="robot" role="tab" data-toggle="pill">Robot Picture</a></li>
      </ul>

      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="scenario"><p id="recap"><em>You are in college and you are returning to your dorm. The building has a secure-access door and you need to swipe your card to get in. As you approach the door, you notice this robot (insert picture above vignette) in front of the door. The robot is carrying a package and has the label Robot Grub on it. The robot says to you: “Hello! Would you let me in? I am making a delivery.” You ignore the robot and continue walking towards the door. The robot continues: “Please!”. You stop and make a decision whether to let the robot in or not.</em></p></div>
        <div role="tabpanel" class="tab-pane" id="robot"><img src="static/images/v1-robot.png" id="robot-pic"/></div>
      </div>

      <button class="btn btn-link" onclick="toggleHeader()"><span id="header-toggle" class="glyphicon glyphicon-chevron-up"></span></button>
      <button class="pull-left btn btn-success" onclick="fillAnswers()"><span class="glyphicon glyphicon-flash"></span></button>
    </div>

    <div id="header-space"></div>

    <div class="well">
      <p>Think about the robot. For each statement or descriptor, choose the number that best describes how much you agree or disagree with each statement. <span id="na_extra_likert"></span> Some items might feel repetitive. Please answer them anyway.</p>
    </div>

		<div class="likert likertUniform" measure="myerEtAl"></div>
    <div class="likert likertUniform" measure="jianEtAl"></div>
    <div class="likert likertUniform" measure="heerinkEtAl"></div>
    <div class="likert likertUniform" measure="cameron"></div>
    <div class="likert likertUniform" measure="malle"></div>
    <div class="likert likertVariable" measure="ghazali"></div>

    <div class="well">
      <p>Please rate the following items about the robot as if you've just participated in the interaction described.<span id="na_extra_percent"></span></p>
    </div>

    <div class="likert percent" measure="schaefer1"></div>
    <div class="likert percent" measure="schaefer2"></div>
		<br>
    <br>
    <div class="row">
      <button type="button" id="next" value="next" class="pull-right btn btn-primary btn-lg continue">Next<span class="glyphicon glyphicon-arrow-right"></span></button>
    </div>
	</div>
</div>