<div id="container-instructions">

  <h1>Procedure</h1>

  <hr />
  <div class="instructions well">
    <p>You will be shown a short video, and then be asked several questions about it. Please press the play button to
      play the video. Be aware that the video will only play once and you will not be able to pause or fast forward the
      video. You will not be able to move on to the next page until the video is complete. Videos may take some time to
      load depending on your connection. Click next after the video has finished playing to view the questions.</p>
  </div>
  <hr />
  <div class="instructionsnav">
    <div class="row">
      <!-- <div class="col-xs-2">
          <button type="button" id="prev" value="prev" class="btn btn-primary btn-lg previous">
          <span class="glyphicon glyphicon-arrow-left"></span> Previous
          </button>
      </div>
      <div class="col-xs-8"></div> -->
      <div class="col-xs-2 offset-xs-8">
        <button type="button" id="next" value="next" class="pull-right btn btn-primary btn-lg continue">Next<span class="glyphicon glyphicon-arrow-right"></span></button>
      </div>
    </div>
  </div>

</div>