<div id="container-instructions">

    <h1>Procedure</h1>

    <hr />
    <div class="instructions well">
        <p>Human-Robot interactions are going to increase over the next decade, in work, home, and public contexts. We are interested in people's responses now, before such interactions become commonplace.</p>

        <p>In this particular study we will show you a few brief scenarios that describe interactions involving a robot. Please try to imagine the situation described as if it were happening to you.</p>

        <p>We will then ask you a few questions to capture your impressions. Please respond truthfully to each question as if the events in the scenario had just happened.</p>
    </div>
    <hr />
    <div class="instructionsnav">
        <div class="row">
            <!-- <div class="col-xs-2">
                <button type="button" id="prev" value="prev" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8"></div> -->
            <div class="col-xs-2 offset-xs-8">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
